html,
body {
    min-height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 5vw;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, 'Arimo', Arial, sans-serif;
    background-image: url(/images/bg1.png), url(/images/logos.png);
    background-size: contain, auto;
    background-position-y: 85%, 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
}

h1 {
    font-weight: normal;
    font-size: 2.5em;
}

.entries {
    display: grid;
    grid-gap: 5vw;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: row;
}


/* @media(max-width: 1300px) { */

.entries {
    grid-template-columns: repeat(4, 1fr);
}

@media(max-width: 1100px) {
    .entries {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 850px) {
    .entries {
        grid-template-columns: repeat(2, 1fr);
    }
}

.entries>article {
    box-shadow: 0 0 10px -4px black;
    padding: 10px;
    background: white;
    transition: transform 0.3s;
}

.entries>article:hover {
    transform: scale(1.2);
}

.entries>article>a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-decoration: none;
    color: #4c4c4b;
}

.entries>article>a>img {
    flex: 1 1 auto;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    /* height: calc(100% - 26px); */
    height: 66%;
    object-fit: contain;
}

.entries>article>a>h2 {
    margin: 10px 0 0;
    line-height: 16px;
}

.window {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    padding: 5vw;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.window>.box {
    width: 100%;
    height: 100%;
    background: white;
    box-sizing: border-box;
    padding: 3vw;
    display: grid;
    grid-template: "title close" 48px "iframe iframe" 1fr / 1fr 48px;
    grid-gap: 3vw;
}

.window>.box>h1 {
    grid-area: title;
    margin: 0;
    line-height: 48px;
}

.window>.box>img {
    grid-area: close;
}

.window>.box>iframe {
    grid-area: iframe;
    border: none;
    height: 100%;
    width: 100%;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}