html,
body {
    min-height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 50px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, 'Arimo', Arial, sans-serif;
    background-image: url(/images/bg1.png), url(/images/logos.png);
    background-size: contain, auto;
    background-position-y: 85%, 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
}

h1 {
    font-weight: normal;
    font-size: 2.5em;
}

.entries {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: row;
}


/* @media(max-width: 1300px) { */

.entries {
    grid-template-columns: repeat(4, 1fr);
}

@media(max-width: 1100px) {
    .entries {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 850px) {
    .entries {
        grid-template-columns: repeat(2, 1fr);
    }
}

.entries>a {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px -4px black;
    padding: 10px;
    background: white;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    transition: transform 0.3s;
    height: 200px;
}

.entries>a:hover {
    transform: scale(1.2);
}

.entries>a>img {
    flex: 1 1 auto;
    max-width: 100%;
    box-sizing: border-box;
    height: calc(100% - 26px);
    object-fit: contain;
}

.entries>a>h2 {
    margin: 10px 0 0;
    line-height: 16px;
}